/* Poppins Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Mulish Font  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Roboto Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.theme {
  --Primary_Color: #7B2FF7;;
  --Background_Color: #F6F8FC;

  --White_Color: #ffffff;
  --Grey_Color: #ada0a0;
  --Black_Color: #000000;

  --Error_Color: #c0392b;
  --Success_Color: #27ae60;
  --Warning_Color: #e67e22;
  --Info_Color: #2980b9;

  --Utility_Color1: #a64cf2;

  /* --Font_Family: 'Poppins', sans-serif; */
  /* --Font_Family: 'Roboto', sans-serif; */
  --Font_Family: 'Mulish', sans-serif;

  --Font_Size_1: 12px;
  --Font_Size_2: 14px;
  --Font_Size_3: 15px;
  --Font_Size_4: 20px;
  --Font_Size_5: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--Font_Family);
  /* letter-spacing: 0.25px; */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}
